.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(30, 30, 30);
    font-size: 22px;
    margin-bottom: 50px;
}

.brand {
    width: 120px;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img {
    width: 100%;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 0 10px;
}